@import "./variables";

.ac-portfolio__grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.5rem;
}

.ac-card--case {
  min-height: 180px;
}

@media (max-width: 960px) {
  .ac-portfolio__grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 640px) {
  .ac-portfolio__grid {
    grid-template-columns: 1fr;
  }
}
