@import "./variables";

.reveal {
  opacity: 0;
  transform: translateY(24px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  will-change: opacity, transform;

  &--up {
    transform: translateY(24px);
  }

  &--left {
    transform: translateX(-32px);
  }

  &--right {
    transform: translateX(32px);
  }

  &--visible {
    opacity: 1;
    transform: translate(0, 0);
  }
}
