@import "./variables";

.ac-services {
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5rem;
  }
}

@media (max-width: 960px) {
  .ac-services__grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 640px) {
  .ac-services__grid {
    grid-template-columns: 1fr;
  }
}
